
body {
    font: 10px sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
}
.plot {
    fill: rgba(250, 250, 255, 0.6);
}


.axis path, .axis line {
    fill: none;
    shape-rendering: crispEdges;
}

.tick line {
    stroke: rgba(105,105,105,.5);
}

.line {
    border-bottom: 0;
    stroke-width: 1px;
    fill: rgba(70,130,180,.5);
}

.active{
    fill: yellow;
    stroke: blue;
}

.normal {
    stroke: rgba(105,105,105,.5);
}