
body {
    font: 10px sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
}
.plot {
    fill: rgba(250, 250, 255, 0.6);
}
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}
.line {
    fill: lightsteelblue;
    stroke: steelblue;
    stroke-width: 1.5px;

}